.section {
  display: flex;
  justify-content: space-evenly;
}

/* Media Queries */
@media (min-width: 120em) {
  .section {
    display: flex;
    justify-content: center;
    gap: 2.8rem;
  }
}

@media (max-width: 67em) {
  .section {
    flex-direction: column;
    align-items: center;
  }
}
