.section {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
}

/* Media queries */

@media (min-width: 120em) {
  .section {
    justify-content: space-evenly;
  }
}

@media (max-width: 67em) {
  .section {
    flex-direction: column-reverse;
    align-items: center;
    gap: 6rem;
  }
}
