.card {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  background-color: var(--color-bg-1-lighter);
  padding: 1.6rem;
  width: 50rem;
  border: 1px solid var(--color-bg-3-lighter);
  border-left: 1.8rem solid var(--color-bg-3-lighter);
  border-radius: 6px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  gap: 1.6rem;
}

.actions {
  display: flex;
  gap: 0.8rem;
  padding-right: 1rem;
}

.card h2 {
  color: var(--color-secondary);
  font-size: 2rem;
}

.card p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
}

.copied {
  padding: 0.2rem;
  border-radius: 2px;
  color: #454545;
  font-size: 1.2rem;
  font-weight: 600;
}

@media (max-width: 84em) {
  .card {
    max-width: 40rem;
    padding: 1.2rem;
  }
}

@media (max-width: 67em) {
  .card {
    max-width: 50rem;
  }
}

@media (max-width: 23em) {
  .card {
    max-width: 35rem;
  }
}
