.anatomy {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 6rem;
  max-width: 70rem;
}

.anatomy h2 {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 600;
}

.anatomy h3 {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
  color: var(--color-secondary);
  font-size: 5.2rem;
}

.contentBox {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  background-color: var(--color-bg-1-lighter);
  padding: 2rem;
  border-radius: 6px;
}

.contentBox h4 {
  color: var(--color-tertiary);
  text-transform: uppercase;
  font-size: 2rem;
}

.textBox {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.textBox p {
  font-size: 1.6rem;
}

.activeName {
  color: var(--color-tertiary);
}

/* Media queries */

@media (max-width: 92em) {
  .anatomy {
    padding: 4rem 1.4rem;
  }

  .anatomy h3 {
    font-size: 4.8rem;
  }
}

@media (max-width: 82em) {
  .contentBox {
    max-width: 50rem;
  }

  .anatomy h2 {
    font-size: 2rem;
  }

  .anatomy h3 {
    font-size: 4.8rem;
  }

  .contentBox h4 {
    font-size: 1.8rem;
  }

  .textBox p {
    font-size: 1.6rem;
  }
}

@media (max-width: 67em) {
  .anatomy {
    height: 85rem;
    gap: 2.8rem;
  }

  .anatomy h2 {
    font-size: 2.6rem;
  }

  .contentBox {
    padding: 2.8rem 0rem;
  }

  .contentBox h4 {
    font-size: 2.8rem;
  }

  .textBox p {
    font-size: 2.2rem;
  }
}

@media (max-width: 26em) {
  .anatomy {
    padding: 4rem;
  }

  .anatomy h3 {
    font-size: 4rem;
  }

  .contentBox h4 {
    font-size: 2.4rem;
  }

  .textBox p {
    font-size: 1.8rem;
  }
}

@media (max-width: 23.44em) {
  .anatomy h3 {
    flex-direction: column;
    align-items: center;
  }
}
